! Project: spark
! Repository: https://github.com/abdul2926/spark
! Maintainer: https://github.com/abdul2926
! License: MIT


! --<#### colorscheme ####>--
*.background: #161515
*.foreground: #d3d3d3

! -<## black ##>-
*.color0: #0b0b0b
*.color8: #282b2f

! -<## red ##>-
*.color1: #dc3328
*.color9: #cc5149

! -<## green ##>-
*.color2: #b5c801
*.color10: #c9d368

! -<## yellow ##>-
*.color3: #f1cb3b
*.color11: #ecd16d

! -<## blue ##>-
*.color4: #195df3
*.color12: #3f74e9

! -<## purple ##>-
*.color5: #b246d6
*.color13: #c77ce1

! -<## cyan ##>-
*.color6: #4fb1a5
*.color14: #70d1c5

! -<## white ##>-
*.color7: #88939f
*.color15: #acbed0

! --<#### urxvt settings ####>--
URxvt.font: xft:Fira Code:style=Regular:size=10
URxvt.boldFont: xft:Fira Code:style=Bold:size=10
URxvt.italicFont: xft:Fire Code:style=Italic:size=10
URxvt.boldItalicfont: xft:Fire Code:style:Bold-Italic:size=10
URxvt.letterSpace: 0
URxvt.lineSpace: 0
URxvt.geometry: 80x24
URxvt.internalBorder: 10
URxvt.cursorBlink: true
URxvt.cursorUnderline: true
URxvt.saveline: 2048
URxvt.scrollBar: false
URxvt.scrollBar_right: false
URxvt.urgentOnBell: true
URxvt.depth: 32
URxvt.iso14755: false
